table {
border: 2px solid black;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
border-collapse: collapse;
justify-content: right;
align-items: right;
align-content: right;
text-align: right;

}


}

tr {
    
}

td {
    border: 2px solid black;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
border-collapse: collapse;
justify-content: right;
}